.mobile_menu {
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 999;
  display: none;
}

.mobile_menu_item_show {
  z-index: -1;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0px;
  transition: all 0.5s ease-in;
}


.mobile_menu_item_hide {
  z-index: -1;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -300px;
  transition: all 0.5s ease-out;
}


.mobile_menu_font_item {
  display: inline-block;
  color: white;
  background-color: black;
  height: 60px;
  line-height: 60px;
}

.mobile_menu_font_item:hover{
  font-weight: bold;
}

.mobile_active_menu_font_item {
  font-weight: bold;
  color: black;
  background-color: white;
}

@media (max-width: 768px) {
  .mobile_menu {
    display: inline-block;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 999;
  }
}

.fadein, .fadeout {
    opacity: 0;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.fadein {
    opacity: 1;
}