.mobile_menu {
  background-color: black;
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0px;
}

.mobile_menu_item {
  display: flex;
  flex-direction: column;
}

.mobile_menu_font_item {
  color: white;
}