.mobile_menu {
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: black;
  z-index: 999;
  display: none;
}

.mobile_menu_item {
  display: flex;
  flex-direction: column;
}

.mobile_menu_font_item {
  display: inline-block;
  color: white;
  height: 30px;
  line-height: 30px;
}

.mobile_menu_font_item:hover{
  font-weight: bold;
}

.mobile_active_menu_font_item {
  background-color: white;
  color: black;
}

@media (max-width: 768px) {
  .mobile_menu {
    display: inline-block;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: black;
    z-index: 999;
  }
}